@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: url(https://file.valofe.com/Valofe_file/web/fonts/notokr-light.eot);
  src: local('☺'),
    // 로컬 사용안함
    url(https://file.valofe.com/Valofe_file/web/fonts/notokr-light.eot?#iefix)
      format('embedded-opentype')
      url(https://file.valofe.com/Valofe_file/web/fonts/notokr-light.woff)
      format('woff');
}

@font-face {
  font-family: 'NotoKr';
  font-weight: 400;
  src: url(https://file.valofe.com/Valofe_file/web/fonts/notokr-regular.eot);
  src: local('☺'),
    url(https://file.valofe.com/Valofe_file/web/fonts/notokr-regular.eot?#iefix)
      format('embedded-opentype'),
    url(https://file.valofe.com/Valofe_file/web/fonts/notokr-regular.woff)
      format('woff');
}

@font-face {
  font-family: 'NotoKr';
  font-weight: 700;
  src: url(https://file.valofe.com/Valofe_file/web/fonts/notokr-bold.eot);
  src: local('☺'),
    url(https://file.valofe.com/Valofe_file/web/fonts/notokr-bold.eot?#iefix)
      format('embedded-opentype')
      url(https://file.valofe.com/Valofe_file/web/fonts/notokr-bold.woff)
      format('woff');
}

* {
  font-family: FontAwesome, 'NotoKr', 'Trebuchet MS', 'Helvetica Neue',
    Microsoft JhengHei, PingFang TC, Microsoft YaHei, PingFang SC,
    'Malgun Gothic', Apple SD Gothic Neo, '애플 SD 산돌고딕 Neo', 'M PLUS 1p',
    sans-serif;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
}

:lang(en) {
  font-family: 'FontAwesome', 'noto sans', 'NotoKr', sans-serif;
}
